/* 로고 */
@font-face {
    font-family: rubik one;
    src: local("Rubik One"),
        url(https://fonts.cdnfonts.com/s/15433/RubikOne-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 400;
}

/* 기본 폰트 */
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

/* 별점 */
@font-face {
	font-family: '116angduk_honesty15';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/116angduk_honesty15.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}